@import '../../../styles/settings.scss';

.root {
  max-width: $screen-width;
  margin: 4rem auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(228, 228, 228);
  .summary{
    width: 100%;
  }
  .form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(228, 228, 228);
    .bill{
      flex: 0.5;
    }
    .payment{
      flex: 0.5;
    }
  }

}

.empty{
  width: 50%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
