@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $base-size*0.5 $base-size*2;
  height: $base-size*5;
  background-color: $color-dark;
  color: white;   
  z-index: 50;
  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    li{
      list-style: none;
      margin-right: $base-size*2;

    }
  }
}

.cart_link{
  text-decoration: none;
  color: inherit;
  &:hover{
    color: $color-warning-back;
  }  
}

.hamburger{
  width: $base-size*2.5;
  height: $base-size*2.5;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  div {
    background-color: $color-text-bright;
    height: 4px;
    border-radius: 2px;
    width: 100%;  
  }
  &:hover div{
    background-color: $color-warning-back;
  } 
}


@media (max-width: 960px){
  .root  {
    justify-content: space-around;

    ul{
      display: none;
    }   
    
  }
  .hamburger{
    display: flex;
  }
  
}
@media(max-width: 767px){
  .root  {
    .ratesWrapper > *{
      display: none;
    }
  }  
}
