@import '../../../styles/settings.scss';


.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: $base-size*4;  
  .title{
    font-size: 2rem;
  }
  i{
    font-size: 2rem;
    margin-right: 0.5rem; 
  }
  span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;    
    height: 32px;   
    font-size: 1.3rem;
    font-weight: 600; 
  }  
}
