@import '../../../styles/settings.scss';

/*



*/

.root {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: $screen-width;    

  .left{
    flex: 0.3;
    padding: 2rem;
    height: 350px;    
  }
  .center{
    flex: 0.4;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    padding: 1rem 2rem;
  }
  .right{
    flex: 0.3;
  }
  
}

@media (max-width: 960px) {
  .root {
    flex-direction: column;
    .left, .center, .right{
      margin-top: 1rem;
      flex: 1;
      width: 90%;
      border: 1px solid $color-editor-border-light;
      border-radius: 5px;        
    }        
  }
}
