@import '../../../styles/settings.scss';

.root {
  margin: 1rem auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  max-width: $screen-width;    

  .left{
    flex: 0.3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .imageWrapper{
      position: relative;
      width: 300px;
      height: 300px;
      @media(max-width:1100px){
        width: 250px;
        height: 250px;
      }
      @media(max-width:1000px){
        width: 220px;
        height: 220px;
      }
    }
  }
  .center{
    flex: 0.4;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    padding: 1rem 2rem;
  }
  .right{
    flex: 0.3;
  } 
}
.products{
  max-width: $screen-width;
  margin: 1rem auto;
}


@media (max-width: 960px) {
  .root {
    
    flex-direction: column;
    .left, .center, .right{
      margin-top: 1rem;      
      width: 100%;
      border: 1px solid $color-editor-border-light;
      border-radius: 5px;        
    } 
    .left{
      border: none;
    }          
  }
}

@media (max-width: 1280px){
  .products{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 960px){
  .products{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px){
  .products{
    grid-template-columns: 1fr;
  }
}
