@import '../../../styles/settings.scss';

.root {
  width: 100%;
  .title{
    padding:1rem;
  }
  .shopInviter{
    padding:1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    a{
      margin-left: 2rem;
    }
  }  
}
