@import '../../../styles/settings.scss';

.root {
  width: 100%;  
  td{
    padding: 0.2rem 1rem;
  }
  tr:nth-child(odd){
    background-color: rgb(241, 240, 234);
  }
  tr td:first-child{
    font-weight: bold;
  }
  tr td:last-child{
    text-align: right;
  }
  @media(max-width:1080px){
    font-size: 14px;
  }
  @media(max-width:960px){
    font-size: 1em;
  }
  @media(max-width: 500px){
    td{
      padding: 0.2rem 0.2rem;
    }
  }
}
