@import '../../../styles/settings.scss';

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;    
  background-color: white;
  border-radius: 5px;
  .row{
    padding: 0.5rem 1rem;    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .label{
      flex: 0.6;
      i{
        width: 30px;
        margin-right: 0.5rem;
      }
    }
    .value{
      
      flex: 0.4;
      text-align: left;
    }
  }
  button{
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;    
    font-weight: 600;
    color: $color-text;
    background-color: $color-editor-border-light;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-out;
    &:hover{
      transition: all 0.3s ease-out;      
      background-color: $color-success;
    }
  }
}

@media (max-width: 960px) {
  .root {
    margin: 1rem auto;
    
  }
}