@import '../../../styles/settings.scss';

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem; 
  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p{
      font-size: $base-size*0.75;
    }
    .close{
      width: $base-size;
      color: #141414;
      background: none;
      transition: all 0.3s ease-out;
      &:hover,
      &:focus,
      &:active      
      {
        transition: all 0.3s ease-out;
        transform: scale(1.2);
        color: red; 
      }      
      i{
        font-size: 1rem;
      }
    }
  }
  
  input{
    line-height: inherit;
    padding: 00.5rem 1rem;
    text-align: left;
    border: none;
    border-bottom: 1px solid $color-editor-border-light;
    &:focus{
      outline: none;
    }
  }
  textarea{
    padding: 00.5rem 1rem;   
    text-align: left;
    border: none;
    border-bottom: 1px solid $color-editor-border-light;

    &:focus{
      outline: none;
    }    
  }
  > button{
    padding: 0.5rem 1rem;
  }
}
