@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-direction: row;
  .rate{    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &:first-child{
      margin-right: 1rem;
    }    
  }
  .up{
    color: $color-success;
  }
  .flat{
    color: inherit;
  }
  .down{
    color: $color-error;
  }

}


@media (max-width: 767px){
  .root {
    display: none;
  }
}