@import '../../../styles/settings.scss';

.root {
  position: relative;
  height: 100%;
  .av {
    height: 100%;
    img{
      height: 100%;
    }
  }
  
  
  .rev{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    img{
      height: 100%;
    } 
       
  }
  .hide{    
    visibility: hidden;
  }

  .show{    
    visibility: visible;
  }
}
