@import '../../../styles/settings.scss';

.root {
  margin-top: 2rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .products{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 5fr 5fr 1fr;
    grid-column-gap: 16px;
    .button{
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      i{
        font-size: 2.5*$base-size;
        color: $color-textfield-border;
        transition: all 0.3s ease-out;
        &:hover{
          transition: all 0.3s ease-out;
          color: $color-text;
        }
      }
    }
  }
}

@media (max-width: 1280px){
  .root {
    .products{
      grid-template-columns: 1fr 5fr 5fr 5fr 1fr;
    }
  }
  
}

@media (max-width: 960px){
  .root {
    h2{
      font-size: 1em;
    }
    .products{
      grid-template-columns: 1fr 5fr 5fr 1fr;
    }
  }
}

@media (max-width: 767px){
  .root {
    .products{
      grid-template-columns: 1fr 5fr 1fr;
    }
  }
}
