@import './settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $color-text;
  font-size: ($base-size * 1.3);
  line-height: 1.7;
  letter-spacing: 0.5px;
  overflow-y: scroll;
  min-height: 100vh;
  font-family: $font;
}

img {
  width: 100%;
  object-fit: contain;
}

a, a:hover, a:visited {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  margin: 1rem auto;
  min-height: calc(100vh - 14rem);
}

@import './typography.scss';
