$color-text: #141414;
$color-text-light: #1d1d1d;
$color-text-bright: #cecaca;
$color-primary: #3498db;
$color-secondary: #218c74;
$color-background: rgb(151, 146, 146);
$color-background-light: rgb(245, 245, 245);

$color-dark: #171717;
$color-success: #01916d;
$color-success-back: #00bc8c;
$color-info: #2b7cb3;
$color-info-back: #3598db;
$color-warning: #f0932b;
$color-warning-back: #d68529;
$color-danger: #f0932b;
$color-danger-back: #d68529;
$color-error: #EA2027;
$color-error-back: #ff5d6c;

$color-textfield-border: rgb(155, 155, 155);
$color-editor-border: #ccc;
$color-editor-border-light: #e9e9e9;

$font: 'Nunito Sans', sans-serif;

$screen-width: 1300px;

$radius: 5px;
$base-size: 14px;
$transition: all 0.5s;

@mixin p-el($element) {
  &:#{$element}, &::#{$element} {
    position: absolute;
    @content;
  }
}
